{% extends 'base.html' %}
{% load static %}
{% block title %}Services | DelightIndia{% endblock %}
{% block content %}
<section class="services">
	<div class="container">
		<div class="section-title">
			<h1>Our Services</h1>
		</div>
	</div>

</section>
<section id="franchise" class="about">
  <div class="container">
    <div class="section-title">
      <h1>Franchise</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 align-item-stretch">
        <img class="img-fluid" src="{% static 'md/mdn/img/menu-item-4.jpg' %}">
      </div>
      <div class="col-lg-7 d-flex flex-column justify-content-center align-item-stretch">
        <div class="content">
          <ol>
            <li>
              Prospective Franchisee having knowledge of Food & Beverage would be a added Advantage
            </li>
            <li>
              Involvement of Franchise should be in full time as per Company Business timing from 9 AM to 11 PM.
            </li>
            <li>
              Maintenance of Parlour should be hygienic, neat & store has to look bright.
            </li>
            <li>
              Right Location:
             <ul>
                <li class="bx bx-check-double ">
                  Prominent Area.
                </li><br>
                <li class="bx bx-check-double ">
                  Good Foot Fall.
                </li><br>
                <li class="bx bx-check-double ">
                  Best Focal Points.
                </li><br>
                <li class="bx bx-check-double ">
                  Good Frontage of the shop minimum of 10 feet to 25 feet.
                </li><br>
                <li class="bx bx-check-double ">
                  Corner shops are have very high visibility stores 
                </li>
             </ul>
            </li>
            <li>
              Place for Parking and Sitting is given preference.
            </li>
            <li>
              An Investment of Rs.1 Lakh to 10 Lakhs as per your area specifications
            </li>
            <li>
              Stocks and Products Range:
              <ul>
                <li class="bx bx-check-double ">
                  Company's Thumb rules states that your bakery has to be fully loaded with our menu items.
                </li><br>
                <li class="bx bx-check-double">
                  In short for customers our franchise means a store where a customer can get a vide range of bakery products on all under one roof.
                </li>
              </ul>
            </li>
            <li>
              Proper Staffing:
              <ul>
                <li class="bx bx-check-double ">
                  A Staff/ A Person / A Team Member / A Manager / or Anyone who is handling the bakery has to be dedicated towards work.
                </li><br>
                <li class="bx bx-check-double ">
                  A Staff can ruined the business or take the business to greater heights.
                </li><br>
                <li class="bx bx-check-double ">
                  The Employees who are there in any bakery are not just employees but they are our Brand Ambassadors.
                </li><br>
                <li class="bx bx-check-double ">
                  A Franchisee Partner/Owner can take a beautiful location, can do a best interior work, can invest on the best equipment and branding, can pay the electricity bills etc. but inspite on investing on everything, if the franchisee partner employee's improper staff and if Franchisee Partner does not give proper training to the Employees on interacting to the customers and keeping various stock positions of bakery products and training on soft skills then the outlet will no perform as per its capability.
                </li><br>
                <li class="bx bx-check-double ">
                  In short company strongly suggest that Franchisee owner must trained their Employees on basic skills and basic courtesy so that they can receive the customers properly.
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="party" class="container">
  <div class="section-title">
    <h1>Party Orders</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 align-item-stretch" >
      <img class="img-fluid" src="{% static 'md/mdn/img/menu-item-6.jpg' %}">
    </div>
    <div class="col-lg-8 d-flex flex-column justify-content-center align-item-stretch" style="max-height: 600px">
      <div class="content">
        <ol>
          <li>
            We take party orders on most of our bakery products.
          </li>
          <li>
            You can place order on preferred product by seeing the menu given for party orders.
          </li>
          <li>
            Place order before one day if it is bulk quantity
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div id="shopwala" class="container">
  <div class="section-title">
    <h1>Shopwala</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 align-item-stretch">
      <img class="img-fluid" src="{% static 'md/mdn/img/menu-item-5.jpg' %}"/>
      
    </div>
    <div class="col-lg-8 d-flex flex-column justify-content-center align-item-stretch" style="padding-bottom: 70px">
      <div class="content">
        <ol>
          <li>
            we are providing profitable business for small business owners
          </li>
          <li>
            Shopwala can order on preferred products by seeing the menu provided for Shopwala
          </li>
          <li>
           Shopwala can get products from Franchise near to them.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}