{% extends 'base.html' %}
{% load static %}
{% block title %}Products | DelightIndia{% endblock %}
{% block content %}
<section class="disitem">
  <div class="container">
    <div class="container">
      <div class="section-title">
        <h1>Our Products</h1>
        <p>{{list_product.category}}</p>
      </div>
    </div>
    <div class="row">
      {% for item in list_product %}
      <div class="col-6 col-sm-4 col-lg-3  d-flex align-items-stretch">
        <div class="disitem-item">
          <img src="{{MEDIA_URL}}{{item.image}}" class="img-fluid rounded" alt="...">
          <div class="disitem-content">
            <h3>{{item.name}}</a></h3>
            <p class="price"></p>
          </div>
          
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
 
{% endblock %}
